name: Linting
on: push

permissions:
  contents: read

jobs:
  linting:
    name: Run Rubocop
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6
      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # ratchet:ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - run: bundle exec rubocop
