name: Update Slack Status

on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:

jobs:
  update-status:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Set up Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd
        with:
          ruby-version: '3.4'

      - name: Update Slack statuses
        env:
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
        run: ruby status.rb
